<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab class="ion-margin" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAddNewNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngIf="notes.length > 0; else noElement">
    <app-note-item *ngFor="let note of notes; let i = index"
                    [note]="note"
                   (deleteEmitter)="onDeleteItem(note)"
                   (saveSuccessEmitter)="onSaveSuccess()">
    </app-note-item>
  </ion-list>
  <ng-template #noElement>
    <div class="ion-text-center ion-padding">
      <ion-text color="primary">
        <h2>No notes found yet.</h2>
      </ion-text>
    </div>
  </ng-template>

</ion-content>
